@use "../../colors.scss" as color;
@use "../../constants.scss" as constant;

.add-post-page {
  padding: 50px 0;
  margin: 0 auto;
  max-width: constant.$container-sm;
}

h3 {
  margin-bottom: 10px;
  text-align: center;
}

fieldset {
  display: grid;
  row-gap: 16px;
}

button {
  background-color: color.$primary;
  border: none;
  color: color.$white;
  font-weight: 600;
  padding: 8px;
  border-radius: 2px;
  opacity: 0.8;
  transition: opacity 0.2s ease-out;

  &:hover {
    opacity: 1;
  }
}

.response {
  margin: 10px 0;
  font-weight: 600;

  &.success {
    color: color.$green;
  }

  &.error {
    color: color.$red;
  }
}
