@use "../../colors.scss" as color;

.users-page {
  padding: 50px 0 100px;
}

.users-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

button.add-user {
  border: none;
  background-color: color.$primary;
  color: color.$white;
  padding: 8px 24px;
  box-shadow: 2px 4px 12px color.$grey;
  border-radius: 8px;
  font-weight: 600;
}
