@use "../colors.scss" as color;

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.user-id {
  font-size: 14px;
  font-weight: 700;
  color: color.$white;
  background-color: color.$dark;
  padding: 4px 8px;
  border-radius: 4px;
}

.due-on {
  background-color: color.$secondary;
  color: color.$white;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
}

.id {
  font-size: 12px;
  font-weight: 600;
  margin-top: 16px;
}
