@use "../colors.scss" as color;

.id {
  font-size: 14px;
  font-weight: 600;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: color.$white;
  font-size: 14px;
}

.gender {
  background-color: color.$dark;
  padding: 2px 12px;
  border-radius: 8px;
  font-weight: 500;
}

.status {
  text-transform: uppercase;
  font-weight: 600;
  background-color: color.$primary;
  padding: 6px;
  border-radius: 2px;

  &.active {
    background-color: color.$green;
  }

  &.inactive {
    background-color: color.$red;
  }
}
